@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 209, 217, 206;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */


  --foreground-rgb: 209, 217, 206;
  --background-start-rgb: 16, 23, 51;
  --background-end-rgb: 22, 11, 46;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 209, 217, 206;
    --background-start-rgb: 16, 23, 51;
    --background-end-rgb: 22, 11, 46;
  }
}

@font-face {
  font-family: 'PixelMplus';
  src: url('/fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelMplus';
  src: url('/fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'BananaSlipPlus';
  src: url('/fonts/bananaslipplus.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BananaSlipPlus';
  src: url('/fonts/bananaslipplus.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'SmartFontUI';
  src: url('/fonts/03SmartFontUI.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SmartFontUI';
  src: url('/fonts/03SmartFontUI.ttf') format('truetype');
  font-weight: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(29, 31, 44); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.reader-block {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.40);
}

.column-header {
  color: rgb(29, 31, 44);
  background-color: rgb(209, 217, 206);
}

.column-item {
  border-color: transparent;
  transition: border-color 0.2s ease-out;
}

.column-item-active {
  color: rgb(29, 31, 44);
  background-color: rgb(209, 217, 206);
}

.column-item:hover {
  border-color: rgb(209, 217, 206);
  backdrop-filter: blur(1em);
}

* {
  border-color: rgb(209, 217, 206);
  font-family: "MaruMonica";
}

.bio-sub-header {
  border-bottom: 1px solid;
}

.lang-well {
  font-weight: bold;
}

.lang-ok {
  opacity: 0.6;
}

.lang-not-ok {
  opacity: 0.3;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

