@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 209, 217, 206;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 209, 217, 206;
    --background-start-rgb: 16, 23, 51;
    --background-end-rgb: 22, 11, 46;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(29, 31, 44); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  backdrop-filter: blur(2px);
}

.column-header {
  color: rgb(29, 31, 44);
  background-color: rgb(209, 217, 206);
}

* {
  border-color: rgb(209, 217, 206);
}